# Python byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Binary cache arrays
*.npy

# Virtual Environment
venv/
venv_py39/
.venv/
env/

# IDE / System files
.DS_Store
.idea/
.vscode/
